* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    display: flex;
    margin: 0;    
    min-height: 100vh;
}

.container {
    background-color: rgb(187, 189, 191);
    width: 1500px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0.5rem auto;
    padding: 1rem 2rem;
}

h2 {
    font-weight: normal;
}

.product-type {
    font-weight: bolder;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1.5rem;
}

label {
    font-weight: bold;
    text-align: right;
    margin: auto 0.5rem;
}

input,
select {
   height: 30px; 
   padding: 0.3rem;
   border: 1px solid black;
   margin: auto 0;
}

.required::after {
    content: " *";
    color: red;
}

.grayed-out {
    opacity: 0.4;
    cursor: not-allowed;
}

.progress-bar {
    position: fixed;
    left: 50%;
    width: 500px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    transform: translate(-50%, 0);
}

.progress-tracker {
    text-align: center;
    background-color: green;
    max-height: 100%;
}

.save-btn {
    padding: 0.3rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: 150ms ease-in-out;
}

.save-btn:hover {
    transform: scale(1.1);
}

.submit-div {
    width: 100%;
    text-align: center;
}

.submit-btn {
    width: 20%;
    padding: 0.8rem;
    background-color: red;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 150ms ease-in-out;
}

.submit-btn:hover {
    transform: scale(1.1);
}

.section {
    background-color: #fff;
    border: 1px solid black;
    margin-bottom: 1rem;
}

.section-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.section-information {
    margin-right: 5rem;
}

.project-information ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.product-information-mailers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 10rem;
}

.product-information-mailers ul {
    display: grid;
    grid-template-columns: 1fr;
}

.product-information-mailers ul li {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.shipping-info ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.shipping-info ul li:last-child {
    display: flex;
    justify-content: center;
}